html {
    background-image: url("bg.jpg");
    background-size: cover;
}

body {
    text-align: center;
    font-family: 'Cardo', serif;
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    min-height: 100vh;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-shrink: 0;
}

.card {
    width: 800px;
    border-radius: 6px !important;
    margin: 4px;
    background-color: #EBDECC;
}

.btn {
    width: 100%;
    font-size: 1.25rem !important;
    /* border-bottom-right-radius: 0 !important; */
    /* border-bottom-left-radius: 0 !important; */
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
}

.card-header {
    padding: 0;
    border: none;
}

.card-header a {
    background-color: #E1CDB2;
}

.card-body p {
    background-color: #EBDECC;
    font-size: 1.075em;
}

.text-left {
    text-align: left !important;
}

.term>span {
    position: absolute;
    right: 16px;
}

h1 {
    font-weight: bold;
    font-size: 2.5rem;
    margin: 0px;
    padding: 10px;
}

.card {
    border-color: #8C785D;
}

header i {
    margin-left: 10px;
    margin-right: 10px;
}

header {
    color: #3E3529;
}

footer {
    position: fixed;
    bottom: 0;
    color: #E1CDB2;
    background-color: #3E3529;
    width: 100%;
}

footer p {
    margin: 0;
    text-align: center;
}

main .card:last-child {
    margin-bottom: 32px;
}
